<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="classB" autowire="byType" class="org.gaoay.pojo.ClassB" depends-on="classA2"></bean>
    <bean name="classA classA2" class="org.gaoay.pojo.ClassA"></bean>
    <bean name="classC" class="org.gaoay.pojo.ClassC"></bean>
</beans>